body {
    font: 12px "SimSun";
}

.container {
    background-color: rgb(230, 227, 227);
}

/*------------------------ navbar -------------------------*/
.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(93, 29, 91);
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 980px;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.row a {
    color: white;
    font: 14px "SimSun";
    margin-left: 28px;
    text-decoration: none;
}

.mainLink {
    /* 这样写也可以 */
    /* display: inline-block;
        position: absolute;
        right: 0; */
    position: absolute;
    bottom: 5px;
    right: 0;
}

.githublogo {
    position: absolute;
    right: 10px;
    bottom: 0;
}

/*------------------------ footer -------------------------*/
.blackblock {
    width: 100%;
    background-color: black;
    color: white;
    font: 14px "SimSun";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blackblock a {
    color: white;
    font: 14px "SimSun";
    text-decoration: none;
}

.bottom-nav {
    height: 40px;
}

.bottom-nav a {
    margin: 0 14px;
    line-height: 40px;
}

.bottomLink {
    width: 980px;
    padding-top: 50px;
    padding-bottom: 100px;
}

div.colum {
    width: 20%;
    float: left;
}

div.colum div {
    margin-top: 25px;
}

.bottomLink span {
    color: rgb(195, 202, 209);
    font: 14px "SimSun";
}

.bottomLink a {
    display: block;
    padding-bottom: 7px;
}

.bottomLink a:hover {
    text-decoration: underline;
}

.bottomLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.githublogo2 {
    margin-top: 20px;
}

/*------------------------ specific style -------------------------*/
.content {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.articleblock {
    width: 710px;
    margin-top: 25px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.article {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px 15px 30px 15px;
    position: relative;
}

.sidetag {
    position: absolute;
    top: 20px;
    left: -56px;
    color: #fff;
    font-size: 16px;
}

.sidetag .intag-date {
    height: 25px;
    width: 35px;
    background-color: rgb(93, 29, 91);
    padding: 8px 10px;
    text-align: center;

}

.sidetag .intag-tag {
    height: 25px;
    width: 35px;
    background-color: rgb(177, 116, 206);
    padding: 8px 10px;
    text-align: center;
}

.sidebar {
    flex-direction: column;
}

.title {
    font-size: 16px;
    color: rgb(182, 17, 182);
    font-weight: bold;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 12px;
    color: #666;
    font-weight: bold;
    padding-bottom: 15px;
}

.zhengwen {
    text-indent: 24px;
    padding-bottom: 30px;
    line-height: 150%;
}

.date {
    color: rgb(156, 156, 156);
    float: right;
    margin-bottom: 20px;
}

.page {
    margin-bottom: 200px;
}

.page button {
    background-color: #fff;
    color: black;
    font-size: 14px;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    outline: none;
}

.page button:hover {
    background-color: rgb(177, 116, 206);
    color: white;
}

.sidebar {
    width: 260px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.sidebar>div {
    margin-bottom: 10px;
}

.search {
    background-color: #fff;
    padding: 20px;
}

.search2 {
    background-color: rgb(211, 211, 211);
    width: 220px;
    height: 40px;
    position: relative;
}

.search2 input {
    width: 115px;
    height: 34px;
    margin-top: 1px;
    margin-left: 1px;
    padding-left: 37px;
    outline: none;
    border: 1px solid transparent;
}

.search2 img {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 3px;
    top: 5px;
}

.search2 button {
    position: absolute;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    width: 65px;
    height: 40px;
    right: 0;
    top: 0;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
}

.category {
    background-color: #fff;
    border-top: 1px solid rgb(214, 214, 214);
}

.category a {
    font-size: 16px;
    color: grey;
    display: block;
    height: 45px;
    padding-left: 25px;
    border-bottom: 1px solid rgb(214, 214, 214);
    text-decoration: none;
    line-height: 45px;
    border-left: 4px solid darkorchid;
}

.category a:hover {
    border-left: 4px solid rgb(216, 192, 228);

}

.calendar {
    background-color: #fff;
    padding: 25px 15px 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.firstrow {
    color: darkorchid;
    font-weight: bold;
    width: 88%;
    font-size: 16px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.firstrow a {
    color: darkorchid;
    padding: 3px 7px;
    font-weight: bold;
    text-decoration: none;
}

div.ca-row {
    width: 98%;
    font-size: 16px;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 5px;
}

.ca-row a,
.ca-row span {
    float: left;
    padding: 3px 12px;
    color: rgb(155, 155, 155);
    text-decoration: none;
}

.ca-row a:hover,
.firstrow a:hover {
    background-color: rgb(93, 29, 91);
    color: white;
}

.tags {
    background-color: #fff;

}

.tags1 {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 15px;

}

.tags2 {
    padding: 15px 15px 30px 15px;
}

.tags2 a {
    color: rgb(112, 29, 153);
    text-decoration: none;
}