body {
    font: 12px "SimSun";
}

.container {
    background-color: rgb(230, 227, 227);
}

/*------------------------ navbar -------------------------*/
.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(93, 29, 91);
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 980px;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.row a {
    color: white;
    font: 14px "SimSun";
    margin-left: 28px;
    text-decoration: none;
}

.mainLink {
    /* 这样写也可以 */
    /* display: inline-block;
        position: absolute;
        right: 0; */
    position: absolute;
    bottom: 5px;
    right: 0;
}

.githublogo {
    position: absolute;
    right: 10px;
    bottom: 0;
}

/*------------------------ footer -------------------------*/
.blackblock {
    width: 100%;
    background-color: black;
    color: white;
    font: 14px "SimSun";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blackblock a {
    color: white;
    font: 14px "SimSun";
    text-decoration: none;
}

.bottom-nav {
    height: 40px;
}

.bottom-nav a {
    margin: 0 14px;
    line-height: 40px;
}

.bottomLink {
    width: 980px;
    padding-top: 50px;
    padding-bottom: 100px;
}

div.colum {
    width: 20%;
    float: left;
}

div.colum div {
    margin-top: 25px;
}

.bottomLink span {
    color: rgb(195, 202, 209);
    font: 14px "SimSun";
}

.bottomLink a {
    display: block;
    padding-bottom: 7px;
}

.bottomLink a:hover {
    text-decoration: underline;
}

.bottomLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.githublogo2 {
    margin-top: 20px;
}


/*------------------------ specific style -------------------------*/
.content {
    width: 980px;
    margin: 70px auto 10px auto;
    position: relative;
}

.left-top {
    width: 670px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    /* position: relative; */
}

.middleblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.middleblock img {
    width: 160px;
}

.bg-purple {
    background-color: rgb(148, 67, 196);
}

.bg-blue {
    background-color: rgb(83, 74, 209);
}

.bg-brown {
    background-color: rgb(149, 28, 28);
}

.gword {
    display: flex;
    /*align-items: flex-start;
    justify-content: flex-start; */
    padding: 10px;
    width: 140px;
}

.circle {
    border: 1px solid #fff;
    width: 32px;
    height: 32px;
    border-radius: 25px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    flex: none;
}

.gtitle {
    font-size: 16px;
    margin-bottom: 5px;
}

.gzhengwen {
    line-height: 150%;
}

.toptags {
    position: absolute;
    top: -41px;
    left: 0;
}

.toptags a {
    font-size: 14px;
    text-decoration: none;
    background-color: #fff;
    border-right: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
    border-top: 4px solid darkorchid;
    float: left;
    text-align: center;
    line-height: 20px;
    padding: 8px 15px;
}

.toptags a:hover {
    border-top: 4px solid rgb(219, 174, 241);
    border-bottom: 1px solid transparent;
}

.load {
    background-color: #fff;
    /* height: 30px; */
    width: 710px;
    color: grey;
    font-size: 14px;
    padding: 12px 0;
    margin-bottom: 80px;
    cursor: pointer;
    text-align: center;
}

.sidebar {
    width: 260px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.search {
    background-color: #fff;
    padding: 20px;
}

.search2 {
    background-color: rgb(211, 211, 211);
    width: 220px;
    height: 40px;
    position: relative;
}

.search2 input {
    width: 115px;
    height: 34px;
    margin-top: 1px;
    margin-left: 1px;
    padding-left: 37px;
    outline: none;
    border: 1px solid transparent;
}

.search2 img {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 3px;
    top: 5px;
}

.search2 button {
    position: absolute;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    width: 65px;
    height: 40px;
    right: 0;
    top: 0;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
}

.rank {
    background-color: #fff;

}

.circle2 {
    width: 18px;
    height: 18px;
    color: white;
    background-color: darkorchid;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
}

.p-bar {
    width: 60px;
    height: 25px;
    border: 1px solid darkorchid;
}

.full {
    background-color: darkorchid;
    float: left;
    height: 25px;

}