.mdl-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/banner-bg.jpg");
    width: 100%;
    height: 868px;
    position: relative;
}

.banner-bg {
    width: 100%;
}

.word-over-bg {
    width: 980px;
    position: absolute;
    bottom: 0;
    border: none;
}

.word-over-bg>div {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    padding: 10px 10px 30px 10px;
    color: #fff;
    border: none;
}

.title2 {
    font: 14px "SimSun";
    float: right;
}

.zhengwen {
    font: 12px "SimSun";
    line-height: 150%;
    padding-top: 12px;
    text-indent: 24px;
    clear: both;
}

.part2 {
    width: 100%;
    background-color: rgb(230, 227, 227);
    border: none;
    margin-top: -4px;
}

.greyblock {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.middleblock {
    width: 320px;
    background-color: #fff;
    flex: 1;
    margin: 10px 5px 0 5px;
    padding: 10px 10px 0 10px;
}

.middleblock img {
    width: 300px;
    height: 180px;
    position: relative;
}

.middleblock .word {
    font-size: 12px;
    line-height: 170%;
    text-indent: 24px;
    margin-top: -4px;
    padding: 15px 20px 25px 20px;
    border: none;
}

.whiteblock {
    width: 100%;
    background-color: #fff;
    position: relative;
    margin-top: 130px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}

.figimg {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    margin-top: -50px;
}

.intro {
    position: relative;
    margin-top: 160px;
    width: 600px;
}

.title {
    color: black;
    font: 20px "Century Gothic";
    text-align: center;
    margin: 0 auto;
}

.self-intro {
    width: 600px;
    color: black;
    font-size: 14px;
    margin-top: 50px;
    text-indent: 28px;
    line-height: 180%;
}